@import "tailwindcss";
@plugin "daisyui" {
  themes: retro;
};

body {
  font-family: 'Press Start 2P', sans-serif;
}
.pokemon-type.bug {
  background-color: #94bc4a;
}
.pokemon-type.dark {
  background-color: #736c75;
  color: #fff;
}
.pokemon-type.dragon {
  background-color: #6a7baf;
}
.pokemon-type.electric {
  background-color: #e5c531;
}
.pokemon-type.fairy {
  background-color: #e397d1;
}
.pokemon-type.fighting {
  background-color: #cb5f48;
}
.pokemon-type.fire {
  background-color: #ea7a3c;
}
.pokemon-type.flying {
  background-color: #7da6de;
}
.pokemon-type.ghost {
  background-color: #846ab6;
}
.pokemon-type.grass {
  background-color: #71c558;
}
.pokemon-type.ground {
  background-color: #cc9f4f;
}
.pokemon-type.ice {
  background-color: #70cbd4;
}
.pokemon-type.normal {
  background-color: #aab09f;
}
.pokemon-type.poison {
  background-color: #b468b7;
}
.pokemon-type.psychic {
  background-color: #e5709b;
}
.pokemon-type.rock {
  background-color: #b2a061;
}
.pokemon-type.steel {
  background-color: #89a1b0;
}
.pokemon-type.water {
  background-color: #539ae2;
}